.top-container {
	background-color: #f2f2f2;
	border-bottom: 1px lightgrey solid;
	height: 400px;
	position: fixed;
	width: 100%;
}

.top-content-container {
	width: 65%;
	height: 425px;
	margin: 0 17%;
	position: fixed;
}

i.mi-icons {
	font-size: 14px;
}

.content-header-container {
	display: flex;
	flex-drection: row;
	width: 100%;
}

#rest-name-title {
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 40px;
}

.content-user-buttons {
	margin-top: 5%;
	margin-left: 30%;
	display: flex;
	flex-direction: row;
}

.starDiv-full {
	background-color: red;
	height: 25px;
	width: 25px;
	margin: 2px;
	border-radius: 4px;
	opacity: 0.7;
}

.starDiv-half {
	background: linear-gradient(90deg, red 50%, lightgrey 50%);
	height: 25px;
	width: 25px;
	margin: 2px;
	border-radius: 4px;
	opacity: 0.7;
}

.starDiv-empty {
	background-color: lightgrey;
	height: 25px;
	width: 25px;
	margin: 2px;
	border-radius: 4px;
	opacity: 0.7;
}

i.stars {
	font-size: 21px;
	text-align: center;
}

i.icon-white {
	color: white;
	margin: 2px;
	border-radius: 5px;
}

i.dollar-sign {
	margin: 0-4px;
	font-size: 20px;
}

button {
	width: 160px;
	height: 40px;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	font-weight: bold;
	background-color: red;
	border-radius: 5px;
}

.spanDiv {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
}

.buttonText {
	margin-top: 5%;
}

i {
	margin: 5px;
}

.buttonSpans {
	font-size: 10px;
	width: 100px;
	height: 40px;
	margin-top: 5px;
	background-color: #b3ffff;
}

.content-map-info {
	width: 300px;
	height: 300px;
	background-color: white;
	margin-top: 2%;
	border: 1px lightgrey solid;
}

.rest-info-numbers {
	display: flex;
	flex-direction: row;
	width: 300px;
	margin-top: -10px;
}

.map-view {
	width: 280px;
	height: 150px;
	border: 1px black solid;
	margin: 8px 8px 0 8px;
}

.map-info {
	margin: 150px 10px 0 10px;
	height: 150px;
	display: flex;
	flex-direction: column;
}

.maptext {
	margin: 4px 0;
}

#ratings {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

#reviews {
	flex-grow: 0.5;
}

.reviewButton {
	color: white;
	height: 38px;
}

#details {
	flex-grow: 0.5;
}

#rest2 {
	display: flex;
	flex-direction: row;
	width: 150px;
}

#price-range {
	margin-right: 20px;
	flex-grow: 2;
	display: flex;
	flex-direction: row;
}

#rest-tags {
	font-size: 18px;
	color: #b3ccff;
	display: flex;
	flex-direction: row;
}

.leftSpan {
	border-radius: 5px 0 0 5px;
}

.midSpan {
	border-radius: 0;
}

.rightSpan {
	border-radius: 0 5px 5px 0;
}

.galleryImg {
	display: inline-block;
	float: left;
	margin-top: -300px;
	margin-left: 300px;
	height: 300px;
	width: auto;
}






